<!doctype html>
<html lang="pt-BR" th:include="models/main :: model">

<body>
  <main th:fragment="content">
    <div class="d-flex">
      <div class="col me-4 h-50">
        <img class="img-fluid w-100"
          src="https://cafans.b-cdn.net/images/Category_101279/subcat_154095/81H5l8hP_0504151057561.jpg" alt="Batman"
          style="height: 500px;object-fit: cover;object-position: top;">
      </div>
      <div class="col h-50">
        <img class="img-fluid w-100"
          src="https://static.wikia.nocookie.net/26acf76d-0c21-40c1-a8c2-7bf4569f0fa1/scale-to-width/755" alt="Batman"
          style="height: 500px;object-fit: cover;object-position: top;">
      </div>
    </div>
  </main>
</body>

</html>