<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="">
            <a class="navbar-brand" href="/">Página 1</a>
            <a class="navbar-brand" href="/second">Página 2</a>
        </div>
    </nav>
    <div class="d-flex">
        <div class="col me-4 h-50">
            <img class="img-fluid w-100" src="https://cafans.b-cdn.net/images/Category_101279/subcat_154095/81H5l8hP_0504151057561.jpg" alt="Batman" style="height: 500px;object-fit: cover;object-position: top;">
        </div>
        <div class="col h-50">
            <img class="img-fluid w-100" src="https://static.wikia.nocookie.net/26acf76d-0c21-40c1-a8c2-7bf4569f0fa1/scale-to-width/755" alt="Batman" style="height: 500px;object-fit: cover;object-position: top;">
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
        <img src="https://uploads-ssl.webflow.com/5da8d07e0f4f500e572d7465/627aca7c0a7cba139df9d11c_Frame%203.jpg" alt="" style="width: 64px;height: 64px;">
        <h5>Site Exemplo</h5>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>