<!doctype html>
<html lang="pt-BR" th:include="models/main :: model">

<body>
    <main th:fragment="content">
        <div class="container d-flex pt-5 pb-5">
            <div class="col ms-2 me-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero.
                Consectetur
                similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius
                vel
                impedit ducimus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia
                maxime
                aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente
                omnis quis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita
                impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis
                adipisci
                animi quis? Quisquam!
            </div>
            <div class="col ms-2 me-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero.
                Consectetur
                similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius
                vel
                impedit ducimus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia
                maxime
                aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente
                omnis quis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita
                impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis
                adipisci
                animi quis? Quisquam!
            </div>
            <div class="col ms-2 me-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero.
                Consectetur
                similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius
                vel
                impedit ducimus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia
                maxime
                aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente
                omnis quis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita
                impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis
                adipisci
                animi quis? Quisquam!
            </div>
        </div>

    </main>
</body>

</html>