<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="">
            <a class="navbar-brand" href="/">Página 1</a>
            <a class="navbar-brand" href="/second">Página 2</a>
        </div>
    </nav>
    <div class="container d-flex pt-5 pb-5">
        <div class="col ms-2 me-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero. Consectetur similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius vel impedit ducimus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia maxime aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente omnis quis.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis adipisci animi quis? Quisquam!
        </div>
        <div class="col ms-2 me-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero. Consectetur similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius vel impedit ducimus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia maxime aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente omnis quis.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis adipisci animi quis? Quisquam!
        </div>
        <div class="col ms-2 me-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium laborum aspernatur libero. Consectetur similique iusto repellendus quis illum accusantium neque nobis molestias dolore quos commodi, amet eius vel impedit ducimus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro inventore aperiam, culpa officia maxime aspernatur dignissimos magni quo, provident, corrupti omnis ad quia. Asperiores cumque deserunt sapiente omnis quis.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, similique accusantium? Ut, expedita impedit enim cumque incidunt possimus, odit doloremque labore quas amet provident neque veritatis adipisci animi quis? Quisquam!
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://uploads-ssl.webflow.com/5da8d07e0f4f500e572d7465/627aca7c0a7cba139df9d11c_Frame%203.jpg" alt="" style="width: 64px;height: 64px;">
        <h5>Site Exemplo</h5>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>